<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.mitchellkember.backup</string>

        <key>LimitLoadToSessionType</key>
        <string>Aqua</string>

        <key>RunAtLoad</key>
        <true/>

        <key>ProgramArguments</key>
        <array>
            <string>/Users/mitchell/Code/scripts/backup.sh</string>
        </array>

        <key>StandardErrorPath</key>
        <string>/tmp/com.mitchellkember.backup.log</string>

        <key>StandardOutPath</key>
        <string>/tmp/com.mitchellkember.backup.log</string>

        <!-- Run once a day. -->
        <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>0</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </dict>
</plist>
